.App {
  text-align: center;
}

.main-table {
  width: 960px;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 10px;
  overflow: scroll;
  padding: 20px;
}

.header {
  text-align: center;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination-btn {
  padding: 10px;
  background-color: lightgreen;
  color: white;
  cursor: pointer;
  margin: 20px;
}
th,td {
  border: 1px solid grey;
  padding: 2px;
}

.product-logo {
  width: 150px;
  height: auto;
}

table {
  width: 100%;
}

.folder {
  margin-top: 6px;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  width: 400px;
  cursor: pointer;
}

.folder > span {
  margin: 0 5px 2px 0;
  padding-left: 15px;
}

.file {
  margin-top: 5px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
}

.progress-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  margin-top: 20px;
}

.progress {
  display: flex;
  flex-direction: column;
  height: 20px;
  width: 500px;
  background-color: lightgreen;
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.progress div {
  height: 100%;
  background-color: red;

}

.progress span {
  position: absolute;
  width: 27%;
  display: flex;
  justify-content: center;
}

:root {
  --default-color: #888;
  --active-color: #f00;
}

.like-btn {
  margin: 20px;
  padding: 4px 8px;
  background-color: white;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--default-color);
  border-radius: 32px;
  color: var(--default-color);
  font-weight: bold;
  cursor: pointer;
}

.like-btn:hover {
  border-color: var(--active-color);
  color: var(--active-color);
}

.liked, liked:hover {
  background-color: var(--active-color);
  border-color: var(--default-color);
  color: #fff;
}

.job-main-container {
  padding: 10px;
  width: 100%;
  display: grid;
  justify-content: center;
}

.job-card {
  width: 600px;
  height: 100px;
  padding: 20px;
  margin: 20px;
  background-color: bisque;
  font-weight: 600;
  font-size: medium;
  border: 1px solid lightcyan;
  margin:auto;
 
}

.load-more {
  margin: auto;
  background-color: coral;
  margin: 10px;
  padding: 10px;
}



